

<div class="container">
    <div class="login-wrap">
        <div class="login-html">
      
          <div class="login-form">
      
            <div class="sign-in-htm">
      
              <div class="group">
                <input placeholder="Login" id="login" type="text" class="input">
              </div>
              
              <div class="group">
                <input placeholder="Senha" id="senha" type="password" class="input" data-type="password">
              </div>
              
              <div class="group">
                <input id="btnLogin" type="submit" class="button" value="Entrar">
              </div>
              
              <div class="foot-lnk">
                <a href="#recuperarLogin">Esqueceu a senha?</a>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
</div>
