<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">
        <i class="material-icons">close</i>
    </a>

    <div *ngFor="let opcao of opcoesMenu">
        <a class="option" *ngIf="opcao.ativo" href="{{opcao.endpoint}}">{{opcao.nome}}</a>
    </div>

</div>

<nav class="navbar navbar-dark bg-unicap">
    <span class="navbar-brand mb-0 h1">

		<div id="main">

			<span style="font-size:30px;cursor:pointer" (click)="openNav()">
				<i *ngIf="hideMenu" class="material-icons">menu</i>
			</span>

            <span style="font-size:30px; text-align:center;">
				{{ titulo }}
			</span>


    </div>

    </span>
</nav>